.productsWrapper {
  transform: translateX(-100%);
  transition: 0.4s ease-in-out;
}

.active {
  transform: translateX(0);
}

.activeButton {
  transform: scale(1.3);
  transition: 0.3s ease-in-out;
}

.bg-iceCream {
  background-color: var(--iceCream-bg-color);
}

.bg-wrap {
  background-color: var(--wrap-bg-color);
}

.bg-wings {
  background-color: var(--wings-bg-color);
}

.bg-soda {
  background-color: var(--soda-bg-color);
}